@page
@model CNCMaintenanceAutomation.Pages.MaintenanceTypes.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<br />
<h2 class="text-info">Create New Maintenance Type</h2>
<br />
<form method="post">
    <div class="p-4 justify-content-center" style="border: solid 1px #9dd4cf; border-radius: 18px;">
        @* Maintenance name input *@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MaintenanceType.MaintenanceName"></label>
            </div>
            <div class="col-5">
                <input asp-for="MaintenanceType.MaintenanceName" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="MaintenanceType.MaintenanceName" class="text-danger"></span>
        @* Maintenance price input *@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MaintenanceType.MaintenancePrice"></label>
            </div>
            <div class="col-5">
                <input asp-for="MaintenanceType.MaintenancePrice" class="form-control" />
            </div>
            <span asp-validation-for="MaintenanceType.MaintenancePrice" class="text-danger"></span>
        </div>
        @* Accept button *@
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackTobuttons" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}