@page
@model CNCMaintenanceAutomation.Pages.Machines.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create New Cnc Machine</h2>
<br />
<form method="post">
    <div class="p-4 justify-content-center" style="border: solid 1px #9dd4cf; border-radius: 18px;">
        <input hidden asp-for="CncMachine.OwnerId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @* Maintenance SerialNumber input *@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CncMachine.SerialNumber"></label>
            </div>
            <div class="col-5">
                <input asp-for="CncMachine.SerialNumber" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="CncMachine.SerialNumber" class="text-danger"></span>
        @* Maintenance Brand input *@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CncMachine.Brand"></label>
            </div>
            <div class="col-5">
                <input asp-for="CncMachine.Brand" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="CncMachine.Brand" class="text-danger"></span>

        @* Maintenance Model input *@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CncMachine.Model"></label>
            </div>
            <div class="col-5">
                <input asp-for="CncMachine.Model" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="CncMachine.Model" class="text-danger"></span>

        @* Maintenance MachineType input *@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CncMachine.MachineType"></label>
            </div>
            <div class="col-5">
                <input asp-for="CncMachine.MachineType" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="CncMachine.MachineType" class="text-danger"></span>

        @* Maintenance DateOfManufacture input *@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CncMachine.DateOfManufacture"></label>
            </div>
            <div class="col-5">
                <input asp-for="CncMachine.DateOfManufacture" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="CncMachine.DateOfManufacture" class="text-danger"></span>

        @* Maintenance Description input *@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CncMachine.Description"></label>
            </div>
            <div class="col-5">
                <input asp-for="CncMachine.Description" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="CncMachine.Description" class="text-danger"></span>




        @* Accept button *@
        <div class="form-group row">
            <div class="col-5 offset-2">
                <div class="row">
                    <div class="col-6">
                        @*<i class="fas fa-plus"></i>&nbsp;*@
                        <input type="submit" value="Create" class="btn btn-info form-control" />
                    </div>
                    <div class="col-6">
                        <a asp-page="Index" asp-route-OwnerId="@Model.CncMachine.OwnerId" class="btn btn-success form-control"><i class="fas fa-arrow-left"></i>&nbsp; Back to</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}